*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0.6rem;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 110, 255);;
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 2px 2px 3px ;
    border-radius: 3px;
}
/*  <!-- First section --> */
#header {
    background-color: #212529;
    padding: 20px 0;
}

#header h1{
    color: #fff;
    margin:16px 16px 10 0;
    font-size: 20px;
    padding-left: 7rem;
}

#header .about{
    margin-right: 10px;
    margin-left: 1100px;
    color:grey;
    font-weight: 900;
}
#header .about:hover{
 color: rgb(0, 0, 0);
 background-color: #fff;
 transition: 1s;
}
#header .services{
    margin-right: 20px;
    color: grey;
    font-weight: 900;
}
#header .services:hover{
    color: rgb(0, 0, 0);
    background-color: #fff;
    transition: 1s;
   }
#header .contact{
    margin-right: 20px;
    color: grey;
    font-weight: 900;
}
#header .contact:hover{
    color: rgb(0, 0, 0);
    background-color: #fff;
    transition: 1s;
}

 /* second section */

 #First{
     background-color: rgb(0, 110, 255);
     padding: 130px 2px 80px;
     text-align: center;
 }
 #First h1{
     font-size: 40px;
     color: #fff;
     margin-bottom: 10PX;
     font-weight: bold;
 }
 
 
 #First p{
     color: #ffffff;
     font-size: 20px;
     margin-bottom: 20px;
 }
#First a{
    background-color: #f8f9fa;
    color: #000;
    padding:0.6rem 0.5rem;
    font-size: 20px;
    border-radius: 0.5rem;
}
#First a:hover{
   background-color: rgb(8, 8, 8);
   color: #fff;
   transition: 1s;
}


/* Third section */

#Second{
    padding: 144px 0;
}
#Second h2{
   font-size: 32px;
   color: #212529;
   width: 50%;
   margin: auto;
   line-height: 3rem;
}
#Second p{
    line-height: 1.5rem;
    width: 50%;
    margin: auto;
    color: rgb(124, 123, 121);
    font-size: 20px;
    margin-bottom: 10px;
}
#Second ul{
    width: 50%;
    margin: auto;
}
#Second li{
    margin-top: 15px;
    margin-left: 20px;
    line-height: 0.7rem;
}

/* Fourth section */
#Third{
    background-color: #f8f9fa;
    padding: 200px 0;
}
#Third h2{
    width: 50%;
    margin: 0 auto;
    font-size: 32px;
    color: #212529;
}
#Third p{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    color: #212529;
}


/* Fifth section */
#Fourth{
   padding: 144px 0;
}
#Fourth h2{
    font-size: 32px;
    color: #212529;
    margin: 0 auto;
    width: 50%;
}
#Fourth p{
    font-size: 20px;
    color: #212529;
    margin: 0 auto;
    width: 50%;
}

 /* <!--Foot --> */
#footer{
    background-color: #212529;
    padding: 48px 0;
}
#footer p{
    color: #ffffff;
    font-size: 16px;
    width: 25%;
    margin: 0 auto;
}

